*{
    margin: 0;
    
}


/*mobile first*/

.img-carrosel{
    width: 100vw;
    height: auto;
    border-radius: 10px;
}


/*animação carrossel*/


@keyframes slideDireita {
  from {
    transform: translateX(0);
    opacity: 0.8;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}

.slide-direita {
  animation: slideDireita 0.5s ease-out forwards;
}


@keyframes slideEsquerda {
  from {
    transform: translateX(0);
    opacity: 0.8;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

.slide-esquerda {
  animation: slideEsquerda 0.5s ease-out forwards;
}




#carrosel-imagens{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

#btn-voltar{
    position: absolute;
    left: 0;
    cursor: pointer;
    height: 100px;
    width: 20px;
    border: none;
    background-color: rgb(235, 235, 235, 0.4);
    border-radius: 20px;
    transition: all ease-in-out 0.8s;


}

#btn-avancar{
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 100px;
    width: 20px;
    background-color: rgb(235, 235, 235, 0.4);
    border: none;
    border-radius: 20px;
    transition: all ease-in-out 0.2s;
}

#btn-avancar:active, #btn-voltar:active{
    transform: scale(1.4);
    
}

/*conteudos*/


#container-valores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titulo-pesquisa{
    text-align: center;
}

.img-opcao-make{
    width: 100px;
    height: auto;
    border-radius: 10px;
}


.opcao-make{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    transition: all ease-in-out 0.3s;
    border: none;
}

.opcao-make:focus{
    box-shadow: 0 0 10px rgb(150, 150, 150);
    background-color: rgb(247, 0, 234);
    transform: scale(1.05);
   
}


#escolhas-make{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 50px;
    gap: 20px;
    border-bottom: 1px solid rgb(200, 200, 200);
}


.imgPesquisa{
    width: 220px;
    height: 180px;
    border-radius: 5px;
}

.divImagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    
}


.item-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    
}


.divImgPesquisa{
    background-color: white;
    padding: 1px;
    
    max-width: 350px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}


#conteudo-busca{
    border-bottom: 1px solid rgb(180, 180, 180);
    
}

.conteudo-article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.img-article-1{
    width: 150px;
    margin: 5px;
    margin-bottom: 50px;
}

#img2-article{
    position: relative;
    top: 20px;

}



/*modal das imagens de pesquisa*/


.modal-hidden-servicos{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    overflow: hidden;
    user-select: none;
}








#modal-imagens{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-modal-pesquisa{
    max-width: 80%;
    max-height: 90%;
    transition: all ease-in 1s;
    transform: scale(1.3);
}


/*Estilização para Desktop*/


@media (min-width: 1024px){
    .img-carrosel{
        width: 65%;
        
    }

    #carrosel-imagens{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin-bottom: 100px
        
    }

    #div-img-carrosel{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #btn-avancar{
        right: 18%;
        height: 40%;
        width: 3%;
    }

    #btn-voltar{
        left: 18%;
        height: 40%;
        width: 3%;
    }
    /*Pequisa*/


    #titulo-pesquisa{
        margin-bottom: 50px;
    }

    #result-busca{
        margin-bottom: 200px;
    }


    /*valores*/

    #titulo-conteudo-valores{
        margin-bottom: 50px;
    }

    #container-valores{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: row;
    }

    .valores{
        width: 300px!important;
    }

    .opcao-make{
        width: 200px;
        height: 200px;
    }

    .img-opcao-make{
        width: 150px;
    }

    /*imagem do modal*/

    .img-modal-pesquisa{
    max-width: 50%;
    max-height: 90%;
    transition: all ease-in 1s;
    transform: scale(1.3);
}



    /*article final*/

    #descricao-article-final{
        width: 400px;
    }


    #article-final{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 50px;
    }
}